@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --primary-color: #16181c;
    --secondary-color: #717273;
    --login-hover-color: #b0b2b4;
    --card-background-color: #fffefe;
    --transition-time: 0.7s;
}

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f0f0;
}