# Python
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.Python
**/env/
**/venv/
**/.env

# Database
**/db.sqlite3

# VS Code
.vscode/

# Git
.git
.gitignore

# Frontend
client/

# Other
**/*.log
**/*.swp
.DS_Store