/* CART CARD STYLES */
.cart-card-content {
    position: relative;
    margin: 2rem auto;
    width: 90%;
    background-color: var(--card-background-color);
    border-radius: 20px;
    box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.125);
}

.cart-card-header {
    display: flex;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    gap: 1rem;
    align-items: center;
    width: 100%;
    background-color: #3b82f6;
    color: var(--card-background-color);
    font-size: 25px;
    font-weight: 550;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
}

.checkout-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    background-color: #f0f0f0;
    font-weight: 550;
    font-size: 20px;
}

.total-section {
    display: flex;
    gap: 1rem;
}

.total-cost {
    color: #3b82f6;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.checkout-button {
    border: none;
    background-color: #3b82f6;
    box-sizing: border-box;
    padding: 0.2rem 3rem;
    height: 3.5rem;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 450;
    color: var(--card-background-color);
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.checkout-button:hover {
    background-color: #1c70f6;
}

.product-divider {
    position: relative;
    margin: 0 auto;
    width: 90%;
    border: 0.5px solid #84acec;
}

@media screen and (max-width: 450px) {
    .checkout-button {
        position: relative;
        margin: 0.5rem auto;
        width: 90%;
    }
}

/* CART PRODUCT */
.cart-product-content {
    box-sizing: border-box;
    padding: 1rem 2.5rem;
    margin: 1rem 0rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.info-picture {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.cart-header {
    font-weight: 500;
    font-size: 22px;
}

.cart-specifics {
    margin: 0.3rem 0;
    font-size: 16px;
    font-weight: 350;
    color: var(--secondary-color);
}

#cart-color {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.cart-color-square {
    border-radius: 25px;
    width: 25px;
    height: 25px;
    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.25);
}

.item-cost {
    color: #3b82f6;
    font-weight: 550;
    display: flex;
    gap: 0.3rem;
    margin: -0.5rem 0;
    font-size: 20px;
}

.quantity-section {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    border: 0.5px solid var(--secondary-color);
    border-radius: 10px;
}

.quantity-button {
    box-sizing: border-box;
    padding: 0.8rem;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.4s;
}

.quantity-button:hover {
    background-color: rgb(224, 224, 224);
}

#increase-button {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

#decrease-button {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.quantity-container {
    font-weight: 500;
}

.delete-cart-item {
    background-color: transparent;
    border: none;
    cursor: pointer;
}