/* ICON BANNER STYLES */
.icon-banner-container {
    position: relative;
    margin: 2rem auto;
    width: 95%;
    border-radius: 10px;
    background-color: rgb(208, 229, 251);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 2rem 0.5rem;
}

@media screen and (max-width: 500px) {
    .icon-banner-container {
        width: 100%;
        border-radius: 0;
    }
}

/* NEWS SCROLL STYLES */
.news-scroll-wrapper {
    position: relative;
    width: 100%;
    padding: 1rem 0;
}

.news-scroll-container {
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
    width: 98%;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
    padding-bottom: 1rem;
}

.news-scroll-container::-webkit-scrollbar {
    display: none; 
}

.news-card-wrapper {
    flex: 0 0 500px;
    scroll-snap-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    transform: scale(0.75);
    opacity: 0.6;
}

.news-card-wrapper:first-child {
    margin-left: calc(50% - 250px);
}

.news-card-wrapper:last-child {
    margin-right: calc(50% - 250px);
}

.news-card-wrapper.active {
    transform: scale(1);
    opacity: 1;
}

/*
NEWS CARD STYLES
*/
.news-card-container {
    flex-shrink: 0;
    width: 500px;
    height: 300px;
    background-position: center;
    background-size: cover;
    box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.news-card-text {
    background-color: #bdbdbd;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-sizing: border-box;
    height: 30%;
    padding: 0.5rem;
    overflow: hidden;
    transition: height 0.3s;
    opacity: 0.75;
}

.news-card-text:hover {
    height: 50%;
}

.news-card-text p {
    font-size: 18px;
    text-align: right;
}

@media screen and (max-width: 550px) {
    .news-card-container {
        width: 350px;
        height: 250px;
    }

    .news-card-text {
        height: 50%;
        display: flex;
        align-items: center;
    }

    .news-card-text p {
        font-size: 16px;
    }

    .news-card-text:hover {
        height: 70%;
    }
}

/*
SEARCH BAR STYLES
*/
.search-bar-container {
    width: 60%;
    position: absolute;
    top: 425px;
    left: 20%;
    z-index: 1;
}

.search-input {
    width: 100%;
    padding: 1rem;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 8px 12px 4px rgba(0, 0, 0, 0.25);
}

.search-bar-icons {
    position: absolute;
    top: -3rem;
    right: 0rem;
    cursor: pointer;
    color: var(--secondary-color);
}

.search-results {
    margin-top: 2rem;
    box-sizing: border-box;
    background-color: #bdbdbd;
    max-height: 0;
    overflow: hidden;
    transition: max-height var(--transition-time), opacity 0.3s ease-in-out;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    opacity: 0;
}

.search-open {
    padding: 2rem 0;
    max-height: 550px;
    overflow-y: scroll;
    opacity: 1;
}

/*
PHONES SCROLL STYLES
*/
.brand-title {
    margin-top: 3rem;
    font-size: 40px;
    box-sizing: border-box;
    padding: 0 2rem;
    font-weight: 400;
}

.brand-container {
    margin-top: 5rem;
}

/*
PRODUCT INFORMATION STYLES
*/

.product-exit {
    position: absolute;
    top: 1rem;
    right: 2rem;
    cursor: pointer;
    color: var(--card-background-color);
    z-index: 11111;
}

.fade {
    width: 100%;
}

.product-info-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow-y: scroll;
}

.product-info-box {
    position: relative;
    margin: 2rem auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

.product-info-image {
    width: 100%;
    display: flex;
    justify-content: center;
}

.product-info-image img {
    width: 300px;
}

#product-storage {
    position: relative;
    top: -2rem;
}

.product-info-description {
    padding: 1rem;
    background-color: var(--card-background-color);
    border-radius: 20px;
    box-shadow: 0 8px 12px 4px rgba(0, 0, 0, 0.25);
    width: 50%;
    font-weight: 450;
    color: var(--primary-color);
    direction: rtl;
    box-sizing: border-box;
    padding: 1rem 3rem;
}

#modal-title {
    color: var(--primary-color);
    font-size: 25px;
    font-weight: 500;
}

#modal-country, #product-storage, #product-color {
    color: var(--secondary-color);
    font-size: 20px;
    font-weight: 300;
}

#product-color {
    font-size: 18px;
}

.variant-pricing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -2.5rem;
    flex-wrap: wrap;
    color: #3b82f6;
}

.variant-list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 0.2rem;
}

.variant-color {
    box-sizing: border-box;
    border: 1px solid transparent;
    padding: 0.3rem;
    border-radius: 10px;
    transition: border-color var(--transition-time);
    cursor: pointer;
    display: flex;
    align-items: center;
}
 
.color-square {
    width: 2rem;
    height: 2rem;
    box-shadow: 0 1px 3px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.selected {
    border-color: var(--primary-color);
}  

.product-price {
    display: flex;
    gap: 0.5rem;
    font-size: 22px;
    align-items: center;
}

.cart-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0.5rem auto;
    padding: 1rem;
    border-radius: 10px;
    border: none;
    background-color: #4CAF50;
    font-size: 18px;
    color: var(--card-background-color);
    cursor: pointer;
    transition: background-color var(--transition-time);
}

.modal-button-text {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    margin: -1rem 0;
}

.cart-button:hover {
    background-color: #348137;
}

.unavailable {
    background-color: var(--secondary-color);
    transition: none;
}

.unavailable:hover {
    background-color: var(--secondary-color);
}

/*
NAVBAR STYLES
*/
.nav-content {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    display: flex;
    padding: 0 3rem;
    margin: 0.75rem 0;   
    direction: rtl;
}

.nav-wrapper {
    position: relative;
    z-index: 1000;
    width: 100%;
}

.home-link {
    width: 10%;
    display: flex;
    align-items: center;
}

#home-link {
    font-size: 23px;
    font-weight: 600;
}

.list-links {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    width: 90%;
    font-size: 20px;
}

.left-links {
    text-align: left;
    margin: 0 3%;
    position: relative;
}

.right-links {
    flex: 1;
    text-align: left;
}

#cart {
    position: absolute;
    top: 0;
    left: 8rem;
}

.nav-link {
    font-size: 20px;
    color: var(--primary-color);
    text-decoration: none;
    cursor: pointer;
    border-bottom: 1px solid transparent;
    transition: border-color var(--transition-time);
}

.nav-link:hover {
    border-color: var(--primary-color);
}

.login-button {
    position: relative;
    top: 0px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    padding: 0.7rem 1.5rem;
    font-family: "Montserrat", sans-serif;
    border-radius: 10px;
    transition: background-color var(--transition-time);
    cursor: pointer;
    font-size: 20px;
}

.login-button:hover {
    background-color: var(--login-hover-color);
}

.hamburger {
    display: none;
}

.burger-line {
    width: 2rem;
    height: 0.25rem;
    border-radius: 10px;
    background-color: var(--primary-color);
    margin-top: 5px;
}

.dropdown-container {
    position: relative;
    display: inline-block;
}

.dropdown-links {
    position: absolute;
    top: 100%;
    left: 0px;
    background-color: #f6f6f6;
    min-width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 0.5rem;
    list-style: none;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
}

.dropdown-links.accessories-active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.dropdown-links li {
    padding: 0.5rem 1rem;
    text-align: right;
    white-space: nowrap; 
}

.accessory-arrow {
    position: relative;
    top: 6px;
    transition: transform 0.3s ease;
}

.arrow-active {
    transform: rotate(180deg);
}

.mobile-dropdown {
    position: absolute;
    top: -60px;
    right: 60%;
    width: 100%;
    height: 350%;
    opacity: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    transform: translateX(0);
    transition: transform 0.3s ease, opacity 0.1s ease;
    padding: 0.5rem 1rem;
    border-right: 1px solid var(--secondary-color);
}

/* Prevent text wrapping in links */
.mobile-dropdown .nav-link {
    white-space: nowrap;
}

.mobile-active {
    transform: translateX(-30%);
    opacity: 1;
}

.cart-icon-container {
    position: relative;
    display: inline-block;
}

.cart-icon-container .cart-count {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: #3b82f6;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    min-width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 767px) {
    .dropdown-links {
        left: 90px;
        top: -90px;
        min-width: 150px;
    }

    .accessories-active {
        max-height: 300px;
    }

    .nav-content {
        direction: ltr;
    }
}


/*
BANNER IMAGE STYLES
*/
.banner-content {
    position: relative;
    height: 400px;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-title {
    font-weight: bold;
    color: var(--card-background-color);
}

/*
CARD SCROLL SECTION
*/
.scroll-headers {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.scroll-button {
    box-sizing: border-box;
    padding: 0.7rem 3rem;
    margin-left: 3rem;
    border: none;
    background-color: #3b82f6;
    border-radius: 10px;
    color: #f6f6f6;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    white-space: nowrap;
}

.scroll-button:hover {
    background-color: #1d58b5;
}

.card-scroll-content {
    position: relative;
    margin: 1rem 0rem;
}

.scroll-title {
    box-sizing: border-box;
    padding: 0rem 3rem;
    font-size: 25px;
    color: var(--primary-color);
    font-weight: 450;
    text-align: right;
}

.scroll-container {
    display: flex;
    align-items: center;
    margin-top: -1rem;
    overflow: hidden;
}

.cards-list {
    box-sizing: border-box;
    list-style: none;
    display: flex;
    overflow-x: scroll;
    position: relative;
    margin: 0 auto;
    width: 98%;
    gap: 2rem;
    padding: 1rem;
    justify-content: flex-start;
}

.cards-list::-webkit-scrollbar {
    display: none;
}

.arrow-icons {
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .scroll-button {
        margin-left: 1rem;
    }

    .scroll-title {
        padding: 0rem 1rem;
    }
}

/*
PREVIEW CARD STYLES
*/
.preview-card-content {
    background-color: var(--card-background-color);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0.5rem;
    width: 20rem;
    box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: box-shadow var(--transition-time);
}

.preview-card-content:hover {
    box-shadow: 0 8px 12px 4px rgba(0, 0, 0, 0.35);
}

.preview-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: -1.5rem;
}

.new-box {
    border: 0.5px solid rgb(2, 169, 2);
    padding: 0.2rem 0.75rem;
    color: rgb(4, 170, 4);
    border-radius: 5px;
}

.preview-info {
    position: relative;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.preview-product-brand {
    color: var(--secondary-color);
    position: relative;
    margin-bottom: -1rem;
    font-size: 18px;
    font-weight: 450;
}

.title-country {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.preview-product-title {
    font-size: 18px;
    color: var(--primary-color);
    font-weight: 450;
}

.preview-product-country {
    color: var(--secondary-color);
    font-weight: 300;
}

.color-storage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1rem;
}

#storage-text {
    position: relative;
    top: -0.4rem;
    font-size: 18px;
}

.color-container {
    position: relative;
    top: -0.5rem;
    width: 50%;
    display: flex;
    gap: 0.3rem;
}

.color-circle {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 20px;
    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.25);
    display: flex;
}

/*
HERO IMAGE STYLES   
*/
.hero-container {
    position: relative;
    margin: 2rem auto;
    width: 80%;
    border-radius: 20px;
    height: 500px;
    background-size: cover;
    background-position: center;
    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
}

.hero-text {
    font-size: 1.7rem;
    font-weight: 600;
    color: var(--card-background-color);
    width: 40%;
    text-align: center;
    margin: 0 6rem;
}

/*
FOOTER STYLES
*/
.footer-content {
    margin-top: 3rem;
}

.footer-content hr {
    position: relative;
    margin: 0 auto;
    width: 90%;
}

.footer-text {
    box-sizing: border-box;
    padding: 1rem 2rem;
    direction: rtl;
}

#store-name {
    font-weight: 600;
    font-size: 20px;
}

.store-text {
    font-size: 15px;
    font-weight: 400;
    color: var(--secondary-color);
}
 
@media screen and (max-width: 767px) {
    /*
    NAVBAR STYLES   
    */
    .nav-content {
        display: block;
    }

    .left-links, .right-links {
        margin: 0;
        font-size: 16px;
    }

    .list-links {
        position: relative;
        font-size: 16px;
        overflow: hidden;
        max-height: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-end;
        opacity: 0;
        transition: max-height var(--transition-time) ease-in-out, opacity 0s ease-in-out;
        gap: 0.5rem;
    }

    /* Include hamburger menu items */
    .left-links .nav-link:not(#home-link),
    .right-links .nav-link {
        font-size: 16px !important;
    }

    .mobile-dropdown .nav-link {
        font-size: 16px !important;
    }

    .login-button {
        font-size: 16px;
        border-radius: 0;
        margin: 0;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid transparent;
        transition: border-color var(--transition-time);
        padding: 0;
    }

    .login-button:hover {
        background-color: transparent;
        border-color: var(--primary-color);
    }

    .open {
        opacity: 1;
        margin-top: 1rem;
        max-height: 500px;
    }

    .hamburger {
        position: absolute;
        right: 40px;
        top: 0px;
        display: inline;
        cursor: pointer;
    }

    #cart {
        position: relative;
        right: 0;
    }

    /*
    HERO CONTAINER STYLES
    */
    .hero-container {
        width: 90%;
    }

    /*
    PRODUCT INFO STYLES
    */
    .product-info-description {
        width: 70%;
        padding: 1rem 1rem;
    }

    #cart, #profile {
        font-size: 16px !important;
    }

    /* Ensure accessory link text size */
    #accesory-link {
        font-size: 16px;
    }

    /* Remove any font-size variations in mobile dropdown */
    .mobile-dropdown .right-links {
        font-size: 16px;
    }

    /*
    SEARCH BAR STYLES
    */
    .search-bar-container {
        width: 80%;
        left: 8%;
    }
}

@media screen and (max-width: 500px) {
    /*
    SCROLLABLE CARDS SECTION
    */
    .arrow-icons {
        display: none;
    }

    /*
    HERO CONTAINER STYLES
    */
    .hero-container {
        width: 100%;
        border-radius: 0;
        justify-content: center;
    }

    .hero-text {
        width: 90%;
        margin: 0 1rem;
    }

    /*
    SEARCH BAR STYLES
    */
    .search-bar-container {
        width: 80%;
        left: 7%;
    }

    .product-info-description {
        width: 90%; 
        padding: 1rem;
        margin: 0 auto;  
    }

    .product-info-box {
        margin: 1rem auto; 
    }

    .product-info-image img {
        width: 250px;  
    }

    /*
    PRODUCT INFO STYLES
    */
    .product-info-image {
        box-sizing: border-box;
        padding: 0rem 2rem;
    }

}